.indicator {
  font-size: 5rem;
  letter-spacing: -0.5rem;
  text-align: center;
  justify-self: center;
}

.indicator-heavy {
  composes: indicator;
  color: var(--heavy);
}

.indicator-low {
  composes: indicator;
  color: var(--low);
}

.info {
  align-self: flex-end;
}
